body{
    background-color:moccasin;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    margin:0;
    padding:0;
}

.productImage {
    height:250px;
    width: 250px;
}
.BeveragesImages {
    height:60%;
    width: 60%;
    max-width: 400px;
    max-height: 200px;
}
*{
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 79, 79);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.brand-title {
    margin: .5rem;
}

.navbar-links ul {
   margin: 0;
   padding: 0;
   display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    background-color: greenyellow;
}

.navbar-links li a:hover {
    color: black;
}


@media (max-width: 600px) {
    .toggle-button {
       display: flex; 
    }

    .navbar-links {
        display: flex;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    body {
        margin-top: 50%;
    }
}

#AisleTitle {
    padding: 16px;
    margin-top: 50px;
}

.main {
    padding: 16px;
    margin-top: 50px;
}

.item {
    padding: 16px;

}
