/*Nareg Mouradian 40044254*/
body{
    background-color: moccasin;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
    height: auto;
}

.BeveragesImages {
    height:60%;
    width: 60%;
    max-width: 400px;
    max-height: 200px;
}

*{
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 79, 79);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.brand-title {
    margin: .5rem;
}

.navbar-links ul {
   margin: 0;
   padding: 0;
   display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    background-color: greenyellow;
}

.navbar-links li a:hover {
    color: black;
}


/*Mobile*/
[class*="col-"] {
    float: left;
    padding: 0;
    width: 100%;
  }

/*Laptop*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .spacing {margin-left: 8.33%;}
  }

/*Desktop*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .spacing {margin-left: 8.33%;}
  }

#AisleTitle {
    padding: 16px;
    margin-top: 50px;
}

.main {
    padding: 16px;
    margin-top: 50px;
}

.item {
    padding: 16px;

}
