body{
    background-color:moccasin;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
}
.Bakery {
    height:250px;
    width: 400px;
    font-size: medium;
}
.productImage {
    height:250px;
    width: 250px;
}
.BeveragesImages {
    height:60%;
    width: 60%;
    max-width: 400px;
    max-height: 200px;
}
* {
    padding: 0;
    margin: 0;
}
nav {
    background-color: rgba(0, 0, 0, 0.658);
    height: 50px;
    position: fixed;
    top: 0;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    border-right: 1px solid greenyellow;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
}

li a:hover {
    background-color: greenyellow;
    color: black;
}


