body{
    background-color:moccasin;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
}
.Bakery {
    height:250px;
    width: 400px;
    font-size: medium;
}
.productImage {
    height:250px;
    width: 250px;
}
.BeveragesImages {
    height:60%;
    width: 60%;
    max-width: 400px;
    max-height: 200px;
}
* {
    padding: 0;
    margin: 0;
}




