<!--Philip Arvanitis-->

body {background-color: white;}

.brand {
    margin: 0px; 
    text-transform: uppercase; 
    color: black; 
    font-weight: normal; 
    font-size: 15pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.product {
    margin: 0px; 
    color: black; 
    font-weight: bold; 
    font-size: 20pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.price {
    margin: 30px 0px 0px 0px; 
    color: black; 
    font-weight: bold; 
    font-size: 25pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.size {
    margin: 0; 
    color: black; 
    font-weight: normal; 
    font-size: 15pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.avg-price{margin: 0; 
    color: black; 
    font-weight: normal; 
    font-size: 15pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.quantity{
    margin: 10px 0; 
    color: black; 
    font-weight: bold; 
    font-size: 15pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.descriptionHeader {
    margin: 20px 0; 
    color: black; 
    font-weight: bold; 
    font-size: 15pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}

.description {
    margin: 0; 
    color: black; 
    font-weight: normal; 
    font-size: 10pt; 
    font-family: Arial, Helvetica, Times, sans-serif;
}