/*Philip Arvanitis 29041931*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
  }
  
body {
    background-color: moccasin;
    margin: 0;
    padding: 0;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.center {
    width: 50%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 79, 79);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
 }
 
 .navbar-links li {
     list-style: none;
 }
 
 .navbar-links li a {
     text-decoration: none;
     color: white;
     padding: 1rem;
     display: block;
 
 }
 
 .navbar-links li:hover {
     background-color: greenyellow;
 }
 
 .navbar-links li a:hover {
     color: black;
 }

/*Mobile*/
[class*="col-"] {
    float: left;
    padding: 0;
    width: 100%;
}

/*Laptop*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .spacing {margin-left: 8.33%;}
    .quantity {display: inline-flex; padding: 0;}
    #tCost {margin-left: 25px;}
  }

/*Desktop*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .spacing {margin-left: 8.33%;}
    .quantity {display: inline-flex; padding: 0;}
    #tCost {margin-left: 25px;}
  }

html {
    font-family: Arial, Helvetica, Times, sans-serif;
}


.more {
    background-color: moccasin;
    color: black;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    transition: 0.4s;
}

.active, .more:hover {
    background-color: moccasin;
  }

.more:after {
    font-family: FontAwesome;
    content: '\f078';
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\f077";
}

.descriptionDisplay {
    padding: 0;
    background-color: moccasin;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.brand {
    margin: 0px; 
    text-transform: uppercase; 
    color: black; 
    font-weight: normal; 
    font-size: 15pt; 

}

.product {
    margin: 0px; 
    color: black; 
    font-weight: bold; 
    font-size: 20pt; 
}

.price {
    margin: 30px 0px 0px 0px; 
    color: black; 
    font-weight: bold; 
    font-size: 25pt; 
}

.size {
    margin: 0; 
    color: black; 
    font-weight: normal; 
    font-size: 10pt; 
}

.avg-price {
    margin: 0; 
    color: black; 
    font-weight: normal; 
    font-size: 15pt; 
}


.empty {
    visibility: hidden;
    display: none;
    max-height: 0;
    max-width: 0;
}

#tCost{
    text-align: left;
    width: auto;
    height: 40px;
    padding: 0;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, Times, sans-serif; 
}

.quantity input {
    border: none;
    background-color: moccasin;
    text-align: center;
    width: 50px;
    height: 40px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, Times, sans-serif;
    margin: 0;
    padding: 0;
 }

button[class*=btn] {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, Times, sans-serif;
    margin: 0;
    padding: 0;
  }

button[class*=cart] {
    width: 150px;
    height: 40px;
}
   
 button:focus, input:focus {
    outline:0;

}
button:hover {
    background-color: rgba(73, 73, 73, 0.658);
}

.descriptionHeader {
    margin: 20px 0; 
    color: black; 
    font-weight: bold; 
    font-size: 15pt; 
}

.description {
    margin: 0; 
    color: black; 
    font-weight: normal; 
    font-size: 10pt; 
}