.productList{text-align: left; font-family: Arial, Helvetica, sans-serif;}
.headers{text-align: center; font: bold;}
.itemData{text-align: center; font-size: medium;}
.table{height: min-content; width: 100%;}
.aisle{font: bold; background-color: rgb(0, 225, 255)}