/*--Jeffrey Chak-Him Chan 40152579 --*/
body{
    background-color:aliceblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;}
.productList{text-align: left; font-family: 'Times New Roman', Times, serif;}
.headers{text-align: center; font: bold; font-size: large;}
.itemData{text-align: center; font-size: medium;}
.table{height: min-content; width: 100%;}
.aisle{font: bold; background-color: rgb(0, 225, 255)}
.backendAddEdit{width: 60%; height: min-content; text-align: left;}
