/*--Jeffrey Chak-Him Chan 40152579 --*/
body{
    background-color:moccasin;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.productList{text-align: left; font-family: Arial, Helvetica, sans-serif;}
.headers{text-align: center; font: bold;}
.itemData{text-align: center; font-size: medium;}
.table{height: min-content; width: 100%;}
.aisle{font: bold; background-color: rgb(0, 225, 255)}
.backendAddEdit{width: 60%; height: min-content; text-align: left;}
